* {
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
  color: thistle;
}

:root {
  --primary: #880088;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

.livros{
  width: 30em;
  height: 25em;
}

a {
  color: inherit;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

.icons{
  width: 200px;
  height: 200px;
}

.book{
  max-width: auto;
  max-height: 75px;
}

.ButtonSubmit{
  color: thistle;
  border: 1px solid thistle;
  background-color: #880088;
  box-sizing: border-box;
  cursor: pointer;
  padding: 16px 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: opacity .3s;
  margin-bottom: 30px;

 
}
.ButtonSubmit:hover,
.ButtonSubmit:focus {
  opacity: .5;
  color: thistle;
}