* {
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
  color: thistle;
}

:root {
  --primary: #880088;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

.livros{
  width: 30em;
  height: 25em;
}

a {
  color: inherit;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

.icons{
  width: 200px;
  height: 200px;
}

.book{
  max-width: auto;
  max-height: 75px;
}